<h1>reset password</h1>
<%
 if (typeof error !== 'undefined') { %>
  <p style="color: red;"><%= error %></p>
  <%
} 
%>

<form action="/reset-password?token=<%=resetData.token%>" method="POST">



    <input type="hidden" name="user_id" value="<%=resetData.user_id%>"
    >
    <input type="password" name="password" required placeholder="new password">
    <br><br>
    <input type="password" name="c_password" required placeholder="confirm password">
    <br><br>
    <input type="submit" value="reset password">

</form>